header {
  display: flex;
  gap: 2px;
}

.container{
    margin: 10px 30px;
    background-color: black;
    width: 800px;
    height: 800px;
}
.box{
    width: 200px;
    height: 200px;
}
.red{
    background-color: red;
    position: relative;
    top: 50px;
    right: 80px;
    left: 80px;
    bottom: 0px;
}
.green{
    background-color: green;
}
.blue{
    background-color: blue;
}