/* .box {
  width: 100px;
  height: 100px;
  color: aliceblue;
  background-color: black;
  line-height: 100px;
  display: grid;
  place-items: center;
  
  animation-duration: 4s;
  animation-name: boxAnimation;
  animation-delay: 2s;
  position: relative;
} */

/* @keyframes boxAnimation {
  0% {
}
25% {
      left: 200px;
      background-color: aqua;
  }
  50% {
    top: 200px;
    /* transform: rotate(180deg); */

.box {
  height: 500px;
  width: 500px;
  font-family: "Pacifico", serif;
  font-size: 10px;
  font-weight: 100;
  text-align: center;
  line-height: 100px;
  background-color: blue;
  transition-duration: 1s;
  transition-property: background-color;
  transition-timing-function: linear;
  animation-name: animation;
  animation-duration: 2s;
  /* transition-delay: 2s; */
}
@keyframes animation {
  /* from {
    background-color: red;
  }
  to {
    background-color: purple;
  } */
}

.box:hover {
  background-color: green;
  /* border-radius: 50%; */
  transform: rotate(180deg);
}
/*width <= 600px */
@media (max-width: 600px) {
  /* .box {
    background-color: purple;
  } */
}
/* width >= 468px */

/* >=768 and <=1024 */
@media (min-width: 768px) and (max-width: 1024px) {
  .box {
    background-color: purple;
  }
}
